body {
  /* background-color: black; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}
.App{
    color: white;
}
.header-container{
  background-color: black;
}
.header{
  max-width: 50em;
  margin: auto;
  padding: 0 2rem; 
  
}
.nav{
  display:flex;
  justify-content: space-between;
  border-bottom: 0.1px solid white;
  padding: 1rem;
}
.header-list p{
  display: inline;
  padding: 1em;
  transition: 1s;
}
.header-list p:hover{
  border-bottom: 1px solid white;
}
.first-product-div{
  line-height: 1em;
}
.new-product{
  letter-spacing: 0.3rem;
  font-size: smaller;
  font-weight: lighter;
  color: gray;
}
.first-product-title{
  line-height: 1em;
}
.first-product{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
  
}
.first-product-text{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  
  padding-right: 2em;
}
.first-product-image img{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5em;
}
.first-buy-button{
  background-color: rgb(215, 124, 73);
  width: 7em;
  height: 2em;
  outline: none;
  border: none;
}
.description{
  width: 20em;
}
.product{
  
  padding-top: 5em;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  margin: auto;
  max-width: 50em;
}
.single-product{
  background-color: rgb(241, 241, 241);
  padding: 3em;
  width: 10em;
  height: 3rem;
  
  margin-bottom: 3em;
}
.product-list img{
  position: relative; 
  max-width: 5rem;
  max-height: 10rem;
  bottom: 5rem;
  padding-left: 3em;
  
}
.product-list a {
  color: black;
}
.title-and-shop{
  position: relative;
  bottom: 3.5rem;
  
  flex: 1;
  text-align: center;
}

/* Filter */
.filter{
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div{
  flex: 1;
}
.cart{
  color: black;
}
.card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
  color: black;
}
.second-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  margin: auto;
  max-width: 50em;
}
.card img{
  width: 11em;
  padding: 7em;
} 
.card h3{
  margin-bottom: 2rem;
}

.card > div{
  padding: 2rem;
}
.second-section-button{
  padding: 5px;
}
.footer{
  background-color: black;
  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding-left: 4em;
  padding-top: 2em;
  padding-right: 6em;
  padding-bottom: 3em;
}
.footer-links{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.social-media-icon{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-left: 25em;
}